body {
    background-color: #c7daff;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: Rw;
    src: url(Raleway-Medium.ttf) format('truetype');
}

button{
    background-color: white;
    color: black;
    font-size: 24px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.currentQuote {
    font-size: 24px;
}

.info{
    background-color: brown;
    font-size: 30px;
    text-align: left;
}

.answerButton {
    background-color: darkslategray;
    color: papayawhip;
    font-size: 32px;
    width: 40%;
    margin-right: 4px;
    min-height: 64px;
    max-width: 180px;
}